# Find largest files: du -ah . | sort -n -r | head -n 5

data/Li2019/**/garfield.prep.*
data/Corces2020/41588_2020_721_MOESM10_ESM.xlsx

.Rproj.user
.Rhistory
.RData
.Ruserdata

.DS_Store
./**/.DS_Store
./**/**/.DS_Store
./**/**/**/.DS_Store
./**/**/**/**/.DS_Store
./**/**/**/**/**/.DS_Store
